.admin-dashboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding-top: 20%;

  h2,
  h3 {
    color: #00203f;
    text-align: center;
  }

  form {
    margin-bottom: 40px;
    margin-top: 5%;

    .centered-button {
      display: flex;
      justify-content: center;
      margin-top: 30px; /* Create space between the button and the text fields */
    }

    button {
      padding: 15px 25px; /* Larger padding to make the button stand out */
      background-color: #0056b3; /* Eye-catching blue color */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      margin-top: 5px;

      &:hover {
        background-color: #004494; /* Darker blue on hover */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
      }

      &:focus {
        outline: none;
      }
    }
  }

  .poem-management {
    margin-top: 90px; /* More space between the button and the Manage Poems section */
    padding-top: 2px;

    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    .poem-actions {
      display: flex;
      justify-content: space-between;

      button {
        width: 48%;
        padding: 10px;
        background-color: #00203f;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(#00203f, 10%);
        }
      }
    }
  }

  .user-management {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #00203f;
    border-radius: 8px;

    p {
      margin-bottom: 10px;
      text-align: center;
      color: #00203f;
    }

    .user-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      select {
        width: 60%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .action-buttons {
        display: flex;
        gap: 10px;
        margin-left: auto;

        button {
          padding: 10px 15px;
          background-color: #00203f;
          color: white;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken(#00203f, 10%);
          }
        }
      }
    }
  }
}
