.admin-dashboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding-top: 20%;
  display: grid;
  margin-top: 100px;

  h2,
  h3 {
    color: #00203f;
    text-align: center;
  }

  form {
    margin-bottom: 40px;

    .centered-button {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    button {
      padding: 15px 25px;
      background-color: #0056b3;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        background-color: #004494;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .poem-management {
    padding-bottom: 60px;

    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 25px;
    }

    .poem-actions {
      display: flex;
      justify-content: space-between;

      button {
        width: 48%;
        padding: 10px;
        background-color: #00203f;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken(#00203f, 10%);
        }
      }
    }
  }

  .user-management {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #00203f;
    border-radius: 8px;

    h3 {
      margin-bottom: 30px;
      text-align: center;
      color: #00203f;
    }

    .user-selection-actions {
      display: flex;
      align-items: center; /* Aligns select and buttons vertically */
      justify-content: space-between; /* Ensures proper spacing */

      select {
        width: 60%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .action-buttons {
        display: flex;
        gap: 10px; /* Space between buttons */

        button {
          padding: 10px 15px;
          background-color: #00203f;
          color: white;
          border: none;
          cursor: pointer;
          border-radius: 4px;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken(#00203f, 10%);
          }
        }
      }
    }
  }
}
