@import "./theme.scss";

.poetry-landing {
  margin-top: 5rem;

  .poetry-list {
    list-style: none;
    padding: 0;
  }

  .poetry-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .poem-title {
      font-size: 2.5rem; // Larger than H1
      color: #00203f;
      margin-bottom: 10px;
    }

    .poem-snippet {
      font-size: 1rem;
      color: #333;
    }

    .read-more {
      color: #00203f;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        color: #adefd1;
      }
    }
  }
}
