@import './theme.scss';

.poetry-detail {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: $text-color;
  }

  button {
    margin: 0 10px;
  }
}
