.poetry-detail {
  margin-top: 5rem;

  .poem-title {
    font-size: 2.5rem; // Larger than H1
    color: #00203f;
    margin-bottom: 20px;
  }

  .poem-content {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;
    margin-top: 20px;
  }

  button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #00203f;
    color: white;
    cursor: pointer;
    &.active {
      background-color: #adefd1;
    }
  }
}
